*{
	margin:0;
	padding:0;
}
.nav-wrapper{
	background:#00183b;
}
.news{
	height:460px;
	border:1px solid #00183b;
	position:relative;
}
.news img{
	width:100%;
}
.news h5{
	color:darkblue;
	padding:0 10px;
}
.news p{
	padding:0 10px;
}
.news span{
	color:#fff;
	font-size:18px;
}
.date{
	width:60px;
	height:50px;
	background:#2f969b;
	position:absolute;
	top:0;
	left:0;
	opacity:0.7;
}
.time{
	width:60px;
	height:20px;
	background:#1c2a4f;
	position:absolute;
	top:51px;
	left:0;
	opacity:0.7;
}
.frame{
	width:40%;
	margin:0 auto;
}
.frame img{
	width:100%;
}
a{
	text-decoration:none;
	color:black;
}